:root {
  --danger: #dc3545;
  --h2-size: calc(1.275rem + 0.3vw);
  --spacer: 1rem;
  --success: #198754;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h3,
h4,
p {
  margin: 0;
  text-align: center;
}

#bookcase {
  width: 100dvw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  place-items: center;
  gap: var(--spacer);
}

#addBook {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: grey;
  text-decoration: none;
}

#addBook:hover {
  background: lightgrey;
}
#addBook:active {
  background: darkgrey;
}

.book {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacer);
  border: 1px solid black;
  height: 20vh;
  width: 15vh;
}

.book .info {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: var(--spacer);
}

.book button.read {
  background: var(--success);
}

.book button.unread {
  background: var(--danger);
}
